<section>
    <h2>Entre como participante</h2> 
     <form action=""> <!--vai enviar pra algum lugar  como tem inputs juntos faço dentro de um formulário -->
         <label class="sr-only" for="room-id">Código da Sala</label> <!--(room-id) não aparece, é para os leitores de busca (temos que conectar com o input)  / sr-only(screen-only) deixa invisível o label mas os motores de busca o acham -->
         <input type="number" id="room-id" placeholder="Código da sala"/> <!--esse código id faz o label pertencer ao input (conecta os 2, quando clico na label, já seleciona o input -->
         <button>
            <img src="images/enter-room.svg" alt="Entrar na sala"/> Entrar na sala</button>
    </form>
</section> 

<div class="separator"> <!--separador-->
    <div></div> <!--uso ctrl c + ctrl v o vscode copia a linha por completo (sem precisar selecionar a linha)-->
    <div>ou</div>
    <div></div>
</div> 

<section>
    <h2>Crie sua própria sala de forma fácil</h2>
    <!-- <a href="create-room.html" class="button outlined"> -->
        <a href="/create-pass" class="button outlined">
        <img src="images/users-white.svg" alt="Criar sala"/> Criar sala  <!--alt seta pra cima move a linha pra cima--> <!--imagem exportada do figma rocket-->
    </a>
</section>