/* escalabilidade, fiz o css global e este separado pra a medida que meu projeto tenha mais coisas, fique mais fácil implementar */
.content{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 11.4rem 1fr; /*1° linha tem 11.4rem e o resto tem 1fr (100% do espaço que sobrou)*/

    grid-template-areas: /*1° e 2° quadrantes*/
    'header header'
    'left right'
}

header{
    grid-area: header;
}

#bg{
    grid-area: left;
    background: url('/images/home-bg-img.svg') no-repeat top/contain; /*para imagem se alinhar ao topo e toda a imagem dentro da div*/
    background-position-x: -10rem;  /*mover a imagem na posição x, cortando um pouco dela*/
}

main{
    grid-area: right;
    display: flex;
    align-items: center;
    margin-top: -12rem;
}

main .container{
    width: min(36.3rem, 100%); /*pra imagem sempre ocupar a tela, nunca extravasar*/
}

main h2{
    font-family: 'Poppins', sans-serif; 
    color: var(--black);
    font-size: clamp(20px, 5vw, 2.8rem);
    margin-bottom: 2.4rem;
}

input{
    border: .2rem solid var(--grey-blue);
    padding: 0.6rem;
    outline: none;
}

input, button, .button{
    width: 100%;
    margin-bottom: 1.8rem;
}

/*separator line*/
.separator{
    display: flex;
    align-items: center;
    margin: 4rem 0;
}

.separator div:nth-child(2){
    color: var(--grey-blue);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0 1.35rem;
    line-height: 0;
}

.separator div:nth-child(1), 
.separator div:nth-child(3){ /*quais os filhos de uma div eu quero usar, (fiz a div 1 e div 3 serem uma linha)*/ 
    background: var(--grey-blue);
    width: 100%;
    height: 1px;
}

/*create balls*/
.ball{
    width: 21.2rem;
    height: 21.2rem;
    background: var(--blue);
    position: fixed;
    opacity: 0.1;
    clip-path: circle(); /*site do css que gera forma nas figuras: https://bennettfeely.com/clippy/*/
}

.ball-top{
    top: -46rem;
    width: 63.3rem;
    right: -35rem;
    height: 63.3rem;
}

.ball-bottom{
    bottom: -15rem;
    right: 5.6rem;
}